@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "./style/friends.css";
@import "./style/find.css";
:root {
  --gray-color: #f3f3f5;
  --white-color: #ffffff;
  --chats-bg-color: #b1c6d8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: var(--gray-color);
}
button {
  border-style: none;
  cursor: pointer;
}
a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  color: #222222;
}
strong {
  display: inline-block;
}
.fs-18 {
  font-size: 18px;
}
.fs-32 {
  font-size: 32px;
}
.fs-gray {
  color: gray;
}
.fwb {
  font-weight: bold;
}
.mt-12 {
  margin-top: 12px;
}
.shadow {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.12);
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.relative {
  position: relative;
}
.spin {
  animation: bouns 1s linear infinite;
}
.dot-tomato {
  position: absolute;
  top: -4px;
  right: -8px;
  width: 20px;
  height: 20px;
  background-color: tomato;
  border-radius: 50%;
  color: var(--white-color);
  font-size: 18px;
  text-align: center;
  animation: bouns 1s linear infinite;
}
.border-bt-gray {
  border-bottom: 1px solid lightgray;
}
.chats-bg {
  background-color: var(--chats-bg-color);
}
.bg-gray {
  background-color: gray;
  color: var(--white-color);
}
.round {
  width: 200px;
  height: 30px;
  border-radius: 40px;
  margin: 0 auto;
  justify-content: center;
}
.wrap {
  flex-direction: column;
  margin: 0 auto;
  width: 768px;
  height: 100vh;
}
.header {
  justify-content: space-between;
  padding: 8px;
}
main .log-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto 32px;
  width: 50%;
  gap: 12px;
}
main .log-form input {
  height: 50px;
  border-style: none;
  border-bottom: 1px solid;
  background-color: transparent;
}
main .log-form button {
  width: 100%;
  height: 50px;
  background-color: gray;
  font-weight: 700;
  font-size: 18px;
  color: var(--white-color);
}
main .log-form button:hover {
  opacity: 0.8;
}
footer {
  align-items: end;
  flex-grow: 1;
  height: 50px;
  background-color: var(--gray-color);
}
footer a {
  display: inline;
  width: auto;
}
.chats-user {
  display: flex;
}
#no-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: gold;
}
@media screen and (max-width: 1280px) {
  #no-mobile {
    display: none;
  }
}

@keyframes bouns {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: scale(1.5);
  }
}
